* {
    box-sizing: border-box;
}

body {
    background-color: #EDEDED;
}

.navbar {
    top: 0;
    width: 100vw;
    background-color: #EDEDED;
    z-index: 10000;
}

.chat:first-child {
    margin-top: 20px;
}

.avatar {
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 5px;
}

.flex-row .avatar {
    margin-right: 12px;
}

.flex-row-reverse .avatar {
    margin-left: 12px;
}

.flex-row .bubble {
    background-color: #ffffff;
    margin-bottom: 12px;
}

.flex-row-reverse .bubble {
    background-color: #95EC6A;
    margin-bottom: 12px;
}

.bubble {
    position: relative;
    background-color: #95EC6A;
    padding: 10px;
    border-radius: 4px;
    max-width: 70vw;
}

.flex-row .bubble div::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #ffffff;
    /* background-color: #95EC6A; */
    position: relative;
    left: -16px;
    top: 3px;
}

.flex-row-reverse .bubble div::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #95EC6A;
    /* background-color: #95EC6A; */
    position: relative;
    left: 16px;
    top: 3px;
}

.inputbar {
    width: 100vw;
    height: auto;
    border-top: 2px solid #EAEAEA;
    background-color: #F6F6F6;
    transition: 300ms;
}

.inputbar>div {
    padding: 6px 0px;
}

.speak {
    width: 50px;
    height: 50px;
    margin-right: 0px;
    margin-left: 5px;
    background-image: url('../assets/icon/speak.svg');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 50%;
}

.input {
    word-break: break-all;
    box-sizing: border-box;
    padding: 8px 12px;
    font-size: 22px;
    overflow: hidden;
    box-shadow: none !important;
    outline: none !important;
    resize: none !important;
    border: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    min-height: 50px;
    width: calc(100vw - 140px);
    background-color: #ffffff;
    border-radius: 5px;
    transition: 300ms ease-in;
}

.emoji {
    width: 50px;
    height: 50px;
    margin-right: -5px;
    background-image: url('../assets/icon/emoji.svg');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 50%;
    transition: 300ms;
}

.add {
    width: 50px;
    height: 50px;
    background-image: url('../assets/icon/wechat-add.svg');
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 50%;
    transition: 300ms;
}

.send-button {
    cursor: pointer;
    /* padding: 50px; */
    margin-left: 5px;
    margin-right: 10px;
    height: 40px;
    width: 70px;
    font-size: 18px;
    color: #ffffff;
    background-color: #05C160;
    border-radius: 8px;
    transition: 300ms;
}

.send-button[disabled] {
    display: none !important;
}

.chat:first-child{
    margin-top: 80px;
}