@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:100,300,400,500,700,900');

* {
    font-family: 'Noto Serif SC', serif;
}

body {
    background-color: #000000;
}

.navbar {
    background-color: black;
    color: aliceblue;
}

.navbar a {
    color: aliceblue;
}

#cover {
    height: 80vh;
    background-image: url("../assets/images/cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    display: -webkit-flex;
}

#progress {
    background-color: black;
    height: 20vh;
}

@media (max-width: 768px) {
    #progress {
        background-color: black;
        height: 500px;
    }
}

#footer {
    background-color: #FEE500;
    height: 800px;
}

#title {
    height: 80vh;
    background-color: #FEE500;
    background-image: url(../assets/images/nail.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#windows {
    display: flex;
    overflow-x: scroll;
}

.page {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

#page-1 {
    background-color: white;
}